In [1]:
import re
import os
import json
import numpy as np
import pandas as pd
import random
import matplotlib.pyplot as plt
from collections import defaultdict

In [54]:
prediction_filename = 'data/RuShiftEval/RuShiftEvalPreds/prediction_7.tsv'
# prediction_filename = 'data/RuShiftEval/RuShiftEvalPreds/MLM_preds/prediction_1.tsv'
annotated_filename = 'data/RuShiftEval/results/annotated_testset.tsv'

In [55]:
preds_df = pd.read_csv(prediction_filename, sep='\t', header=None)

preds_df.head()

               0         1         2         3
0      авторитет  3.109916  3.109870  2.959128
1        амбиция  3.498983  3.533736  3.427597
2        апостол  3.385864  3.462552  3.484160
3  благодарность  3.580604  3.596568  3.623178
4           блин  2.622852  1.704130  1.784910

In [56]:
gold_df = pd.read_csv(annotated_filename, sep='\t', header=None)

gold_df.head()

               0         1         2         3
0      авторитет  3.233333  2.955556  2.844444
1        амбиция  3.111111  3.444444  3.333333
2        апостол  3.494118  3.426966  3.423529
3  благодарность  3.233333  3.566667  3.655556
4           блин  3.213483  1.662921  2.577778

In [57]:
corrs = preds_df.corrwith(gold_df, method='spearman')

corrs

1    0.758398
2    0.783777
3    0.813079
dtype: float64

In [58]:
round(np.mean(corrs), ndigits=3)

0.785

In [59]:
[100 * round(corr, ndigits=3) for corr in corrs]

[75.8, 78.4, 81.3]