In [2]:
import numpy as np
import pandas as pd

In [3]:
results_filename = 'data/RuShiftEval/results/leaderboard_results.tsv'

In [4]:
results_df = pd.read_csv(results_filename, sep='\t')

results_df.head()

,User,Average score,RuSemShift1 (pre-Soviet:Soviet),RuSemShift2 (Soviet:post-Soviet),RuSemShift3 (pre-Soviet:post-Soviet),Date,Description
0,myrachins,0.802,0.781,0.803,0.822,2021-02-28 15:39:17.582007+00:00,NaN
1,myrachins,0.796,0.770,0.801,0.818,2021-02-28 09:58:20.153962+00:00,NaN
2,UsrD7,0.791,0.798,0.773,0.803,2021-03-01 00:47:17.388237+00:00,NaN
3,netvad,0.789,0.794,0.773,0.799,2021-03-01 01:12:34.738591+00:00,NaN
4,netvad,0.789,0.794,0.773,0.799,2021-03-01 00:39:26.753591+00:00,NaN

In [5]:
results_df.sort_values(by='Average score', ascending=False)[:25]

,User,Average score,RuSemShift1 (pre-Soviet:Soviet),RuSemShift2 (Soviet:post-Soviet),RuSemShift3 (pre-Soviet:post-Soviet),Date,Description
0,myrachins,0.802,0.781,0.803,0.822,2021-02-28 15:39:17.582007+00:00,NaN
1,myrachins,0.796,0.770,0.801,0.818,2021-02-28 09:58:20.153962+00:00,NaN
2,UsrD7,0.791,0.798,0.773,0.803,2021-03-01 00:47:17.388237+00:00,NaN
3,netvad,0.789,0.794,0.773,0.799,2021-03-01 01:12:34.738591+00:00,NaN
4,netvad,0.789,0.794,0.773,0.799,2021-03-01 00:39:26.753591+00:00,NaN
5,netvad,0.789,0.793,0.775,0.798,2021-03-01 00:39:24.281139+00:00,NaN
6,netvad,0.785,0.773,0.802,0.780,2021-03-01 00:38:59.879430+00:00,NaN
7,myrachins,0.785,0.758,0.784,0.813,2021-02-28 17:41:43.772852+00:00,NaN
8,myrachins,0.785,0.750,0.787,0.817,2021-02-28 17:23:26.990662+00:00,NaN
9,myrachins,0.785,0.752,0.787,0.816,2021-02-28 17:06:33.666895+00:00,NaN
10,UsrD7,0.780,0.756,0.772,0.811,2021-03-01 01:58:55.425730+00:00,NaN
11,netvad,0.780,0.773,0.786,0.780,2021-03-01 00:39:21.198063+00:00,NaN
12,davletov-aa,0.779,0.749,0.801,0.788,2021-02-28 16:51:33.412539+00:00,NaN
13,UsrD7,0.778,0.779,0.775,0.779,2021-03-01 00:50:33.432127+00:00,NaN
14,myrachins,0.773,0.741,0.779,0.798,2021-02-27 15:01:38.812928+00:00,NaN
15,myrachins,0.763,0.718,0.762,0.809,2021-02-28 16:28:48.314673+00:00,NaN
16,UsrD7,0.757,0.750,0.732,0.788,2021-03-01 00:52:53.426588+00:00,NaN
17,UsrD7,0.750,0.779,0.692,0.779,2021-03-01 01:00:31.871853+00:00,NaN
18,vanyatko,0.720,0.678,0.746,0.737,2021-02-25 21:27:21.471555+00:00,NaN
19,vanyatko,0.714,0.685,0.752,0.707,2021-02-25 21:28:31.746050+00:00,NaN
20,aryzhova,0.457,0.469,0.450,0.453,2021-02-26 21:01:20.909711+00:00,NaN
21,SyrielleM,0.453,0.455,0.410,0.494,2021-02-28 18:06:23.681604+00:00,NaN
22,aryzhova,0.450,0.430,0.451,0.469,2021-02-28 20:26:43.587833+00:00,NaN
23,SyrielleM,0.448,0.473,0.421,0.448,2021-02-28 18:06:55.166292+00:00,NaN
24,aryzhova,0.434,0.449,0.415,0.437,2021-02-27 10:39:32.513504+00:00,NaN

In [7]:
my_results = results_df[results_df['User'] == 'myrachins']

my_results.sort_values(by='Date')

,User,Average score,RuSemShift1 (pre-Soviet:Soviet),RuSemShift2 (Soviet:post-Soviet),RuSemShift3 (pre-Soviet:post-Soviet),Date,Description
14,myrachins,0.773,0.741,0.779,0.798,2021-02-27 15:01:38.812928+00:00,NaN
1,myrachins,0.796,0.770,0.801,0.818,2021-02-28 09:58:20.153962+00:00,NaN
0,myrachins,0.802,0.781,0.803,0.822,2021-02-28 15:39:17.582007+00:00,NaN
15,myrachins,0.763,0.718,0.762,0.809,2021-02-28 16:28:48.314673+00:00,NaN
9,myrachins,0.785,0.752,0.787,0.816,2021-02-28 17:06:33.666895+00:00,NaN
8,myrachins,0.785,0.750,0.787,0.817,2021-02-28 17:23:26.990662+00:00,NaN
7,myrachins,0.785,0.758,0.784,0.813,2021-02-28 17:41:43.772852+00:00,NaN

In [9]:
all_scores = list(sorted(np.unique(results_df['Average score']), reverse=True))

all_scores.index(0.785) + 1

1

In [13]:
users_df = results_df.groupby('User').agg({'Average score': 'max'})

users_df = users_df.sort_values(by='Average score', ascending=False)
users_df = users_df.reset_index()

users_df

            User  Average score
0      myrachins          0.802
1          UsrD7          0.791
2         netvad          0.789
3    davletov-aa          0.779
4       vanyatko          0.720
5       aryzhova          0.457
6      SyrielleM          0.453
7        pribanp          0.417
8   dschlechtweg          0.392
9     jenskaiser          0.383
10      BASELINE          0.332
11         svart          0.262
12  BykovDmitrii          0.261
13          fdzr          0.178
14    DrVenabili         -0.324

In [16]:
ann1 = pd.read_csv('/Users/maxim_rachinskiy/Downloads/raw_annotations_1.tsv', sep='\t')
ann2 = pd.read_csv('/Users/maxim_rachinskiy/Downloads/raw_annotations_2.tsv', sep='\t')

ann1.head()

,word,sent1,sent2,group,mean,annotator1,annotator2,annotator3,annotator4,annotator5
0,богадельня,"-- Да куда же я пойду! ну, говори, дура, куда ...","<b><i>Богадельни,</i></b> больницы, приюты для...",EARLIER,3.8,4,4,3,4,4
1,богадельня,"-- Нет, Зиночка, не в <b><i>богадельню,</i></b...","Разрешения этого пока не последовало, а деньги...",COMPARE,3.8,3,4,4,4,4
2,богадельня,"-- Этот сумасбродный филантроп, которому золот...","К бульвару, у <b><i>богадельни,</i></b> туда ж...",LATER,3.6,4,4,3,3,4
3,богадельня,-- Я вам еще готов дать пятьдесят рублей на ва...,По указу царя произвели в Москве разборку нищи...,EARLIER,2.6,3,1,2,3,4
4,богадельня,"<b><i>Богадельня,</i></b> или исправительный д...","Настроит богаделен, ещё церковь выстроит, замо...",COMPARE,3.4,3,4,3,4,3

In [17]:
set(ann1['word']) & set(ann2['word'])

{'классный', 'пакет', 'стиль'}